@model AgenciaAPI.Models.tblViajes

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de eliminar el paquete de viaje?</h3>
<div>
    <h4>paquetes de Viajes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoViaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoViaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroPlaza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroPlaza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precios)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Lista")
        </div>
    }
</div>
